#view {
	height: 100%;
}

#list {
	height: 100%;
	padding: 0;	
	background-color: lightgrey;
}

#list > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#list > ul > li {
	width: 100%;
	text-align: center;
	padding: 20px 0px;
}

#list > input {
	display: block;
	margin: 0 auto;
}

#list > ul > li:hover {
	cursor: pointer;
	background-color: orange;	
}

#drop-zone {
	margin: 10px 10px 10px 25px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	border: 1px dashed black;	
}

#popup {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	font-weight: bold;
	font-size: 30px;
}